git_demo/src/main/mule/git_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="596be3f0-949e-4df9-998c-1f14589a498e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git_demoFlow" doc:id="0d9eccac-9f51-4fb9-aa10-f9f0230e7f6a" >
		<http:listener doc:name="Listener" doc:id="6ce9e30e-b8bb-44f2-b5ab-1f0a6bf8326f" config-ref="HTTP_Listener_config" path="/mule"/>
		<set-payload value='#["git demo"]' doc:name="Set Payload" doc:id="e843574f-ac96-4758-9ddd-71fbf3a930ba" />
		<logger level="INFO" doc:name="Logger" doc:id="29e14e2c-97b4-46f2-bd26-a6e3a0e1a2ba" message='#["second"]' category="log1"/>
	</flow>
</mule>
